
    <div class="row p-3">
        <div class="col">
          <h5>Buscar:</h5>  
          <input type="text" class="form-control" placeholder="Buscar Gifs...">
        </div>
    </div>
    <hr>

    <div class="ro">
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ullam consequatur, architecto dolor assumenda maiores quas itaque, similique nobis neque veniam asperiores veritatis praesentium beatae non a ipsam dolorum at.
        </div>
    </div>
