
    <div class="row p-3">
        <div class="col">
          <h5>Buscar:</h5>  
          <input type="text" class="form-control" placeholder="Buscar Gifs...">
        </div>
    </div>
    <hr>

    <div class="ro">
        <div class="col">
            <h3 class="text-dark"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet in commodi error doloribus sunt itaque cupiditate facere dicta, quos ullam necessitatibus sit voluptatem, eligendi quia? Delectus, sunt laboriosam. Dolor, est.</h3>
        </div>
    </div>
</div>